<div id="banner">
	<h1>{{ title }}</h1>
</div>
<div id="container">
	<h2>{{ numberofquestions }} Questions</h2>
	<form>
		<div ng-repeat="question in questions">
			<p class="id">{{ question.id }}.) {{ question.questionText }}</p>
			<div ng-repeat="choice in question.possibleChoices">
				<input type="radio" class="radio" ng-attr-name="{{'question' + question.id }}" value="y" /> <label
					ng-attr-for="{{ 'question' + question.id }}">{{ choice }}</label>
			</div>
		</div>
		<br><br>
		<input type="submit" value="See Your Answer" action="#" />
	</form>
</div>